#canvas {
    display: block;
    margin: auto;
}

#divCommands {
    position:absolute;
    left: 1%;
    right: 1%;
    bottom: 0;
    width: 98%;
    height: 60px;
    display: table;
}

span {
    display:table-cell;
    vertical-align:middle;
}

#spanOpenFiles {
    width: 350px;
}

#spanButtons {
    width: 60px;
    text-align: center;
}

#playBtn {
    width: 50px;
    height: 50px;   
    vertical-align: middle;
    background: url(../img/playPauseBtn.png);
    background-size: 100%;
}

#progressBar {
    width: 99%;
}
